{% extends 'base.html.njk' %}
{%block title%} Most Liked Fossils {%endblock title%}
{%block body%}

    <h1>Most Liked Fossils</h1>

    <form class="form-signin" action= "/process-login" method = "POST">

      <div id="username">
        <label for="namefield">What's your name?</label>
        <input type="text" name= "username" required />
      </div>

      <div>
      <a class="nav-link" href="/top-fossils">Submit</a>
      </div>

      <p id='invalid-message'>{{ message }}</p>

      </form>

    <h1>Random Fossil</h1>
    <button id="get-random-fossil">Get Random Fossil</button>
    <div id="random-fossil-image"></div>
    <p id="random-fossil-name"></p>

    <script type="module" src="../src/random-fossil.js"></script>

   

{% endblock body %}