
{% extends 'base.html.njk' %}

{% block title%} Most Liked Fossils {% endblock title%}

{%block body%}
    <h1>{{name}}'s Fossil Rank</h1>

{% for fossil in fossils %}
    <div class="fossil-div">
      <h3>{{fossil.name}}</h3>
      <img src="{{ fossil.img }}" />
    </div>
  {% endfor %}

  <table>
  <thead>
    <tr>
      <th>Fossil Name</th>
      <th>Likes</th>
    </tr>
  </thead>
  <tbody>
  {%for fossil in fossils%}
    <tr>
      <td>{{fossil.name}}</td>
      <td>{{fossil.qty}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

  {% endblock %}