{% extends 'base.html.njk' %}

{% block body %}

<h1>Thank you {{name}} </h1>

<img id = "dino-gif" src=
"https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExbWx2eXc2bmp5Y3VhYnhrYjRpb2NuNjV2ZjAwc2owNjNnODZhcmY1eiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ISEldglYRTodgB3xly/giphy.gif"
alt="this is dino"  width="250"
/>

<div id = "nav-link">
 <a class="nav-link" href="/top-fossils/">Top Fossils</a>
</div>

<div id = "nav-link">
 <a class="nav-link" href="/logout">Log Out</a>
</div>


{% endblock %}

