{% extends 'base.html.njk' %}

{% block title%} Most Liked Fossils {% endblock title%}

{%block body%}
    <h1> Welcome {{name}} </h1>

{% for fossil in fossils %}
    <div class="fossil-div">
      <h3>{{ name }} , this is a {{fossil.name}}</h3>
      <h2>Liked {{ fossil.num_likes }} times.</h2>
      <img src="{{ fossil.img }}" />
    </div>
  {% endfor %}


  <div id = "fossil-form">
  <form action="/like-fossil"  method = "POST">
       <label for ="likedFossil">Choose a fossil</label>
        <select class="sel" name="likedFossil">

			      <option value="aust">Australopithecus</option>
            <option value="quetz">Quetzal</option>
            <option value="steg">Stegosaurus</option>
            <option value="trex">Tyrannosaurus Rex</option>

        </select>
        <input type = "submit"/>
    </form>
    </div>
    
  <div id = "nav-link">
    <a class="nav-link" href="/logout">Log Out</a>
  </div>

  {% endblock %}