{% extends 'base.html.njk' %}

{% block title%} Most Liked Fossils {% endblock title%}

{%block body%}
    <h1> Welcome {{name}} </h1>

{% for fossils in mostliked %}
    <div class="fossil-div">
      <h3>{{ name }} , {{fossils.name}}</h3>
      <h2>Liked {{ fossils.num_likes }} times.</h2>
      <img src="{{ fossils.img }}" />
    </div>
    {% endfor %}

  <form action="/like-fossil"  method = "POST">
       <label>Choose a fossil</label>
        <select name="fossil">
          <option value = "Aust">Australopithecus</option>
          <option value = "Quetz">Quetzal</option>
          <option value = "Steg">Stegosaurus</option>
          <option value = "Tyra">Tyrannosaurus Rex</option>
        </select>
        <input type = "submit"/>
    </form>

  {% endblock %}