{% extends 'base.html.njk' %}

{% block title%} Most Liked Fossils {% endblock title%}

{%block body%}
    <h1> Welcome {{name}}</h1>

    <div class="fossil-div">
      <h3>{{ fossils[0].name }}</h3>
      <h2>Liked {{ fossils[0].num_likes }} times.</h2>
      <img src="{{ fossils[0].img }}" />
    </div>

  <table class="most-liked-fossil">
  <thead>
    <tr>
      <th></th>
      <th>Fossil Name</th>
      <th>Likes</th>
    </tr>
  </thead>
  <tbody>
  {%for fossil in arrFossil%}
    <tr>
      <td>{{image}}</td>
      <td>{{fossil.name}}</td>
      <td>{{fossil.likes}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}